
{{update-question question=question update="update"}}

<h3>{{question.author.username}} asks:</h3>
<div class='well'>
  <h2 class='header-font'>{{question.contents}}</h2>
  <p>{{question.notes}}</p>
  <p class='faded'>{{date-format question.date}}</p>
</div>
