{{#if isOwner}}
  <div class='row'>
    <div class='col-sm-6'>
      <h3>My Questions:</h3>
      {{#if user.questions}}
        {{question-list questions=user.questions}}
      {{else}}
        <br>
        <div class='well text-center'>
          <h4>Need some help? Ask a question below</h4>
        </div>
      {{/if}}
    </div>
    <div class='col-sm-6'>
      <h3>Questions I've Answered:</h3>
      {{#if user.answers}}
        {{question-list questions=uniqueQuestions}}
      {{else}}
        <br>
        <div class='well text-center'>
          <h4>You have not answered any questions yet</h4>
        </div>
      {{/if}}
    </div>
  </div>
  <br><hr>
  <div class='row'>
    <div class='col-sm-10 col-sm-offset-1'>
      {{new-question saveQuestion="saveQuestion"}}
    </div>
  </div>
{{else}}
  <div class='well text-center'>
    <h3>You do not have access to this page</h3>
    <h4>{{#link-to 'index'}}Home{{/link-to}}</h4>
  </div>
{{/if}}
